.header {
    padding: 0 24px;
    background: #fff;
    border-bottom: 1px solid #f0f0f0;
    display: flex;
    align-items: center;
    gap: 16px;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99;
    transition: left 0.2s;
    justify-content: space-between;
}

.headerLeft {
    display: flex;
    align-items: center;
    gap: 16px;
    flex: 1;
}
