.servicesContainer {
    max-height: 210px;
    overflow-y: auto;
    padding-right: 4px;
}

.servicesContainer::-webkit-scrollbar {
    width: 6px;
}

.servicesContainer::-webkit-scrollbar-track {
    background-color: #f5f5f5;
    border-radius: 3px;
}

.servicesContainer::-webkit-scrollbar-thumb {
    background-color: #d9d9d9;
    border-radius: 3px;
}

.servicesContainer::-webkit-scrollbar-thumb:hover {
    background-color: #bfbfbf;
}
