.dashboardCol {
    display: flex;
    flex-direction: column;
}

.dashboardCard {
    height: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.dashboardCard > :global(.ant-card-body) {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.nextBookingsCard {
    height: auto;
}

@media (min-width: 992px) {
    .nextBookingsCard {
        height: 600px;
    }
}
